html,
body {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(76, 201, 240, 1), rgba(113, 9, 183, 0.618));

}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding-top: 15px;
    padding-left: 75px;
    padding-right: 75px;


    margin: 0 auto;

    /* background: linear-gradient(-45deg, rgba(76, 201, 240, 1), rgba(113, 9, 183, 0.331), rgba(240, 109, 168, 0.584), rgb(11, 189, 244)); */

}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.red {
    background-color: RED;
}



.mute {
    color: rgba(58, 12, 163, 1);
}

.l-h1 {
    color: rgba(58, 12, 163, 1);
}

.l-button {
    background-color: rgba(247, 37, 132, 0.851);
    color: rgba(58, 12, 163, 1);
    border: 2px solid rgba(76, 201, 240, 1);
}

.l-button:hover {
    color: rgba(76, 201, 240, 1);
}

.helptext {

    color: rgba(58, 12, 163, 1);

}

li {
    color: rgba(58, 12, 163, 1);
}

.errorlist li {
    color: rgb(76, 0, 255);

}

/* .custom-radio-list {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
} */

p {
    color: rgba(58, 12, 163, 1);

}

form ul.custom-radio-list li {
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;

}

form ul.custom-radio-list label {
    float: none;
    display: inline;

}

form ul.custom-radio-list input[type="radio"] {
    margin: -2px 4px 0 0;
    padding: 0;
}

form ul.custom-radio-list {
    margin-left: 0;
    padding: 0;
}

form ul.custom-radio-list li {
    float: left;
    padding-right: 7px;
}

ul {
    margin: 1px solid black;
}