body {
    background-image: linear-gradient(to bottom right, rgba(76, 201, 240, 1), rgba(67, 97, 238, 1));
    /* margin: 0px; */

}

html {
    scroll-behavior: smooth;

}

.foot {
    background: linear-gradient(-45deg, rgba(76, 201, 240, 1), rgba(113, 9, 183, 0.331), rgba(240, 109, 168, 0.584), rgb(11, 189, 244));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: rgba(67, 97, 238, 1);


}

.navbar-collapse {
    /* position: fixed;
    top: 60px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(76, 201, 240, 1), rgba(67, 97, 238, 1)); */
    /* border-top: 5px solid rgb(90, 103, 162);
    border-bottom: 5px solid rgb(240, 109, 168);
    border-left: 5px solid rgb(240, 109, 168);
    border-right: 5px solid rgb(240, 109, 168); */


}



.navbar {
    /* margin-top: 3px; */
    position: sticky;

    margin-left: 0px;
    margin-right: 0px;
    /* background-color: rgba(57, 169, 203, 0.94); */
    background: linear-gradient(-45deg, rgba(76, 201, 240, 1), rgba(113, 9, 183, 0.331), rgba(240, 109, 168, 0.584), rgb(11, 189, 244));
    background-size: 400% 400%;

    animation: gradient 15s ease infinite;


}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar-brand {
    padding: 2px;
}

.logonav {
    width: 8.5em;

}

.nav-item {
    margin-right: 25px;
}

.row {}

/* change the color of active or hovered links */
.nav-item a:hover {
    color: rgba(247, 37, 133);
    /* add background-color to active links */
}

.nav-item li:hover a {
    background-color: rgba(113, 9, 183, 0.379);
    /* add background-color to active links */
}

/* .navbar-custom {
    background-color: #ff5500;
} */

.nav-item a {
    /* border: 1px solid black; */
    color: rgb(116, 10, 186);
    font-weight: 450;

}


.note {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}




.home-t-h1 {
    margin-top: 0px;
    font-size: 50px;
    font-weight: 400;
    color: rgba(114, 9, 183, 1);
}



.home-t-h3 {
    font-weight: 300;
    color: rgba(181, 23, 158, 1);
}


.home-t-img1 {
    /* position: absolute; */
    max-width: 100%;
    height: auto;
}



.mid-content-left {
    /* border: 5px solid green; */
    padding-right: 0px;
    padding-left: 0px;
}

.top-content-right {
    /* border: 5px solid green; */
    padding-right: 0px;
    padding-left: 0px;



}

.top-content-right {
    /* border: solid black; */

}

.home-m-img2 {

    max-width: 100%;
    height: auto;
}



.home-m-h1 {
    /* border: 2px solid red; */
    width: 400px;
    margin-top: 50px;
    margin-bottom: 25px;


    font-size: 60px;
    font-weight: 400;
    color: rgba(114, 9, 183, 1);
}

.signup-button {
    background-color: rgba(247, 37, 133, 1);
    color: rgba(155, 220, 240, 1);
    width: 150px;
    border: 2px solid rgba(76, 201, 240, 1)
}



.home-b-h4 {
    margin-left: 200px;
    font-size: 1.05em;
    color: rgba(58, 12, 163, 1);
}

.login-home {
    color: rgba(155, 220, 240, 1);
}

.mic {
    margin-left: 10px;
    max-width: 15%
}

.note {
    position: absolute;
    margin-left: 1px;
    max-width: 3%
}


@media only screen and (min-width: 450px) {

    .head1 {

        width: 21ch;
        animation: typing 1.2s steps(21), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        /* border-right: 3px solid; */

    }



    @keyframes typing {
        from {
            width: 0
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }


    .head2 {

        width: 18ch;
        visibility: hidden;
        animation: appear 0s 2s forwards, typing 1s steps(18), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        /* border-right: 3px solid; */
        animation-delay: 1.7s;


    }

    @keyframes appear {
        to {
            visibility: visible;
        }
    }


    @keyframes typing {
        from {
            width: 0;
        }

    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }

    .head3 {

        visibility: hidden;

        width: 7ch;
        animation: typing 1s steps(10), appear 0s 4s forwards, blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        animation-delay: 2.5s;


    }

    @keyframes appear {
        to {
            visibility: visible;
        }
    }

    @keyframes typing {
        from {
            width: 0
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent
        }
    }


    .home-t-h3 {
        display: inline-block;
        animation: slideLeft 1.5s forwards;
        opacity: 0;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-delay: 4.3s;

    }

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(200px);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }



}

@media only screen and (min-width: 950px) {




    .nav-item a {

        border: hidden;

    }

    section {
        /* min-height: 100vh;
        width: 100%;*/
        /* display: flex; */
    }

    .sec1 {
        position: relative;
    }

    .scroll {
        position: absolute;
        /* margin-top: 50px; */
        height: 50px;
        width: 30px;
        border: 2px solid rgba(247, 37, 133, 1);
        left: 50%;
        bottom: 160px;
        border-radius: 20px;
        cursor: pointer;


    }

    .scroll::before,
    .scroll::after {
        content: '';
        position: absolute;
        top: 20%;
        left: 50%;
        border: 2px solid rgba(76, 201, 240, 1);
        height: 10px;
        width: 10px;
        transform: translate(-50%, -90%) rotate(45deg);

        border-top: transparent;
        border-left: transparent;

        animation: scroll 1s ease-in-out infinite;


    }

    .scroll::after {

        top: 30%;
        animation-delay: .3s;



    }

    @keyframes scroll {

        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        60% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            top: 90%;
        }

    }


    .top-content-left {
        padding-top: 100px;

    }



    .home-t-img1 {
        /* position: absolute; */
        max-width: 100%;
        height: 850px;

    }

    figure {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
    }

    figure:hover img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .home-m-img2 {

        max-width: 100%;
        height: auto;
    }

    .home-m-h1 {
        /* border: 2px solid red; */
        width: 400px;
        margin-top: 325px;

    }

    .signup-button {
        margin-top: 375px;
    }

    .note {
        max-width: 5%
    }

    .home-b-h4 {
        margin-left: 0px;
        margin-top: 200px;
    }

}

@media only screen and (min-width: 1700px) {

    .signup-button {
        margin-top: 200px;
    }

    .home-t-h1 {
        /* border: 2px solid red; */

    }

    .home-m-h1 {
        /* border: 2px solid red; */

        margin-top: 150px;

    }



}

@media only screen and (min-width: 2100px) {

    .signup-button {
        margin-top: 300px;
    }

    .home-t-h1 {
        /* border: 2px solid red; */

    }

    .home-m-h1 {
        /* border: 2px solid red; */
        margin-top: 250px;

    }






}