{% extends "accounts/accounts_base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}



  <form method="POST" class="form-signin">
  
        {% csrf_token %}
      <a href="{% url 'home' %}"><img class="mb-4" src="{% static 'musicsocial/images/logo.png' %}" alt="" width="160" height="60"></a>
      <h1 class="h3 mb-3 font-weight-normal l-h1">Please log in</h1>
      <div class="alert alert-danger alert-dismissable alert-link">
    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
    
        Please enter a correct username and password. Note that both fields may be case-sensitive.
    
</div>
      <label for="inputEmail" class="sr-only">Username</label>
      <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-block l-button" type="submit">Sign in</button>
      <p class="mt-5 mb-3 mute">&copy; 2021</p>
    </form> 

{% endblock %}
