{% extends "accounts/accounts_base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

   <form   method="POST" class='form-signin' >

   <a href="{% url 'home' %}"><img class="mb-4" src="{% static 'musicsocial/images/logo.png' %}" alt="" width="160" height="60"></a>
       <h1 class="h3 mb-3 font-weight-normal l-h1">Sign Up</h1>
    {% csrf_token %}

    {{ form.as_p }}

      <button class="btn btn-lg btn-block l-button" type="submit">Sign Up</button>
      <p class="mt-5 mb-3 mute">&copy; 2021</p>

  </form> 







{% endblock %}
